[submodule "dependencies/rocket-chip"]
	path = dependencies/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
	shallow = true
[submodule "dependencies/rocket-chip-inclusive-cache"]
	path = dependencies/rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
	shallow = true
[submodule "dependencies/berkeley-hardfloat"]
	path = dependencies/berkeley-hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
	shallow = true
[submodule "dependencies/fpuv2"]
	path = dependencies/fpuv2
	url = https://github.com/liuxd17thu/fpuv2.git
	branch = chisel6
